{% block body %}

    <p>{% trans from 'messages' into locale %}Hello{% endtrans %},</p>
    <p>{% trans from 'messages' into locale %}You have requested to reset your Dare password{% endtrans %}.</p>
    <p>{% trans from 'messages' into locale %}Copy and paste this reset code into your app{% endtrans %}.</p>
    <p>{{ code }}</p>
    <p style="font-weight: bold">{% trans from 'messages' into locale %}This code is valid for 20 minutes{% endtrans %}.</p>

{% endblock %}
